.flex{
    width: 1200px; 
    height: 400px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.box{
    height: 230px;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 20px black;
}






img{
    width: 100px;
    height: 100px;
}

